In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
g_key

'AIzaSyCSnHN4t6HojnyhlbxG63BYbsLPbUMgc1M'

In [20]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()
city_data_df['Max Temp'] = pd.to_numeric(city_data_df['Max Temp'])

city_data_df.loc[city_data_df['Max Temp']< 0]

Empty DataFrame
Columns: [City_ID, City, Lat, Lng, Max Temp, Humidity, Cloudiness, Wind Speed, Country, Date]
Index: []

In [25]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [30]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [43]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Butaritari,3.07,172.79,81.93,74,0,13.78,KI,2020-10-16 13:41:10
2,2,Kropotkin,45.44,40.58,75.31,42,75,1.81,RU,2020-10-16 13:41:10
4,4,Inhambane,-23.86,35.38,77.09,62,0,13.82,MZ,2020-10-16 13:41:10
11,11,Cape Town,-33.93,18.42,82.40,26,0,13.87,ZA,2020-10-16 13:40:56
26,26,Atuona,-9.80,-139.03,78.37,77,1,18.37,PF,2020-10-16 13:41:12
28,28,Arraial Do Cabo,-22.97,-42.03,75.20,73,75,12.75,BR,2020-10-16 13:41:12
36,36,Hermanus,-34.42,19.23,84.00,44,0,3.00,ZA,2020-10-16 13:41:13
46,46,Matara,5.95,80.54,79.65,84,100,10.49,LK,2020-10-16 13:41:14
52,52,Mahebourg,-20.41,57.70,78.80,65,20,11.41,MU,2020-10-16 13:42:19
56,56,Maningrida,-12.07,134.27,79.52,80,99,7.11,AU,2020-10-16 13:42:20

In [44]:
preferred_cities_df.count()

City_ID       177
City          177
Lat           177
Lng           177
Max Temp      177
Humidity      177
Cloudiness    177
Wind Speed    177
Country       176
Date          177
dtype: int64

In [47]:
preferred_cities_df = preferred_cities_df.dropna()

In [49]:
preferred_cities_df.count()

City_ID       176
City          176
Lat           176
Lng           176
Max Temp      176
Humidity      176
Cloudiness    176
Wind Speed    176
Country       176
Date          176
dtype: int64

In [50]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp    Lat     Lng Hotel Name
0        Butaritari      KI     81.93   3.07  172.79
2         Kropotkin      RU     75.31  45.44   40.58
4         Inhambane      MZ     77.09 -23.86   35.38
11        Cape Town      ZA     82.40 -33.93   18.42
26           Atuona      PF     78.37  -9.80 -139.03
28  Arraial Do Cabo      BR     75.20 -22.97  -42.03
36         Hermanus      ZA     84.00 -34.42   19.23
46           Matara      LK     79.65   5.95   80.54
52        Mahebourg      MU     78.80 -20.41   57.70
56       Maningrida      AU     79.52 -12.07  134.27

In [51]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [53]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [54]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Butaritari,KI,81.93,3.07,172.79,Isles Sunset Lodge
2,Kropotkin,RU,75.31,45.44,40.58,Hotel Europe Kropotkin
4,Inhambane,MZ,77.09,-23.86,35.38,Oceano
11,Cape Town,ZA,82.40,-33.93,18.42,Southern Sun Waterfront Cape Town
26,Atuona,PF,78.37,-9.80,-139.03,Villa Enata

In [60]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [61]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [62]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))